body {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
}
/* pop up */
.modal-footer{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -50px;
}
.modal-title h5{
    text-align: center;
    margin-left: -200px;
}
/* pop end */
.Background-image {
    background-image: url('images/images/v97_353.png');
    width: 1517px;
    height: 650px;
    background-size: cover;
    object-fit: cover;
}

.background-color{
    width: 1517px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    margin-top: 50px;
    width: 45px;
    height: 45px;
}

ul {
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 300px;
}

ul li {
    display: inline;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    color: azure;
}

ul li a:hover {
    background-color: #dc3545;
    color: azure;
    border-radius: 5px;
    padding: 7px;
}

.btn {
    position: absolute;
    padding: 10px;
    margin-top: 50px;
    margin-left: 180px;
    border: 0;
}

.btn-2 {
    position: absolute;
    padding: 10px;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 5px;
    border: 0;

}

.header-text {
    position: relative;
    margin-top: 150px;
    color: azure;
}
.Party{
 background: #CF1DBD;
background: linear-gradient(to right, #CF1DBD 0%, #36C9FF 50%, #6393C1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.header-text h1 {
    font-size: 58px;
    position: relative;
}


.image-1 {
    /* position: absolute; */
    background-image: url('images/images/v97_357.png');
    background-size: cover;
    width: 200px;
    height: 250px;
    margin-left: 250px;
    border-radius: 5px;
    /* animation-delay: 2s; */
  
}


.image-2 {
    background-image: url('images/images/v97_627.png');
    background-size: cover;
    object-fit: cover;
    width: 200px;
    height: 250px;
    position: relative;
    margin-top: -230px;
    margin-left: 465px;
    border-radius: 8px;
    animation-delay: 4s;
}

.image-3 {
    background-image: url('images/images/v106_730.png');
    width: 200px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    border-radius: 8px;
    background-position: center;    
    margin-top: -155px;
    margin-left: 800px;
    animation-delay: 6s;
    animation-direction: 5px 8px;
}

.image-4 {
    background-image: url('images/images/v106_733.png');
    width: 200px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin-top: -225px;
    margin-left: 1020px;
    border-radius: 8px;
    transform: 180deg;
}

/* menu bar */
.City_opt{
    font-size: 20px;
    color: #dc3545;
    position: absolute;
    margin-top: 35px;
}
.Date{
    font-size: 20px;
    color: #dc3545;
    position: absolute;
    margin-top: 35px;
}
.Area{
    font-size: 20px;
    color: #dc3545;
    position: absolute;
    margin-top: 35px;
}

.Menu-bar {
    position: absolute;
    width: 50%;
    height: 150px;
    background-color: white;
    box-shadow: rgb(233, 234, 234);
    margin-top: -30px;
    margin-left: 320px;
    box-shadow: 1px 1px rgb(139, 138, 138);
}
.form-1-select{
    border: 1px solid gray;
    width: 200px;
    height: 30px;
    margin-top: 80px;
}
.form-2-select{
    border: 1px solid gray;
    width: 200px;
    height: 30px;
    margin-top: 80px;
}
.form-3-select{
    border: 1px solid gray;
    width: 200px;
    height: 30px;
    margin-top: 80px;
}
/* Popular club */
.complete-popular{
    margin-top: -80px;
}
.popular-club-1 {
    position: relative;
    display: flex;
    padding: 10px;
    margin-top: 380px;
    padding: -200px;

}

.popular-clubs-image {
    position: relative;
    display: flex;
    margin-top: 400px;
}

.heading-popular-club {
    position: absolute;
    margin: 300px;
    margin-left: -5px;
    font-weight: 200px;
}

.city-1 {
    margin-top: 147px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    
}

.city-2 {
    margin-top: 147px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.city-3 {
    margin-top: 147px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.city-4 {
    margin-top: 147px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.popular-clubs-image-2 {
    position: relative;
    margin-top: 40px;
}

.city-5 {
    margin-top: -52px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    font-weight: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.city-6 {
    margin-top: -52px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    font-weight: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.city-7 {
    margin-top: -52px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    font-weight: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.city-8 {
    margin-top: -52px;
    position: absolute;
    font-size: 35px;
    color: #dc3545;
    font-weight: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    /* box-shadow: 3px,2px solid black; */
}

.btn-view {
    width: 60%;
    margin-top: 50px;
    margin-left: 600px;
    border-radius: 5px;
    border: 0;
}

/* category */
.Category-heading {
    position: absolute;
    margin-top: 55px;
}

.Categoryies {
    position: relative;
    margin-top: 150px;
}

.Categoryies-2 {
    margin-top: 30px;
}

.category-1 {
    position: absolute;
    margin-top: -200px;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.category-2 {
    position: absolute;
    margin-top: -200px;
    text-align: center;
    padding-top: 75px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.category-3 {
    position: absolute;
    margin-top: -175px;
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 175px;
}

.category-4 {
    position: absolute;
    margin-top: -200px;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.category-5 {
    position: relative;
    margin-top: -200px;
    text-align: center;
    padding-top: 75px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.img-ladies {
    width: 100%;
    height: 200px;
}

.category-6 {
    position: relative;
    margin-top: -200px;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.img-EDM {
    margin-top: 30px;
    height: 200px;
}

.category-7 {
    position: relative;
    margin-top: -200px;
    text-align: center;
    padding-top: 75px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.category-8 {
    position: relative;
    margin-top: -200px;
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 200px;
}

.btn-category {
    width: 60%;
    margin-top: 60px;
    margin-left: 600px;
    border-radius: 5px;
    border: 0;
}

/* upcoming sessions css */
.btn-upcoming {
    position: relative;
    margin-left: 700px;
    margin-top: 80px;
    width: 130px;
    border-radius: 5px;
    border: 0;
}

.upcoming-events-section {
    margin-top: -80px;
}

.upcoming-images-1 {
    position: absolute;
    margin-top: 250px;
}

.first-image {
    position: relative;
    margin-left: -160px;

}

.upcoming-heading {
    position: absolute;
    margin-top: 150px;
}

.upcoming-image-2 {
    position: relative;
    margin-top: 550px;
    margin-left: -20px;
}

.secondf-image {
    position: absolute;
}

.seconds-image {
    position: relative;
    margin-left: 20px;
}

.first-event {
    position: relative;
    width: 312px;
    height: 60px;
    background-color: whitesmoke;
    margin-left: -16px;
    box-shadow: 2px 3px lightgray;
}

.first-event h1 {
    text-align: center;
    font-size: 20px;
}

.first-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.date-1 {
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 15px;
    width: 70px;
    height: 60px;
    background-color: #bd3946;
    color: aliceblue;
    margin-top: -59px;
}

.date-1 p {
    position: relative;
    margin-top: -5px;
    padding-left: 15px;
}

.second-event {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 1px;
    box-shadow: 2px 3px lightgray;

}

.second-event h1 {
    text-align: center;
    font-size: 20px;
}

.second-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.third-event {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: -2px;
    box-shadow: 2px 3px lightgray;

}

.third-event h1 {
    text-align: center;
    font-size: 20px;
}

.third-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.fourth-event {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 1px;
    box-shadow: 2px 3px lightgray;

}

.fourth-event h1 {
    text-align: center;
    font-size: 20px;
}

.fourth-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.fifth-event {
    position: absolute;
    width: 310px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 200px;
    box-shadow: 2px 3px lightgray;

}

.fifth-event h1 {
    text-align: center;
    font-size: 20px;
}

.fifth-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.sixth-image {
    margin-left: -150px;
}

.sixth-event {
    position: relative;
    width: 300px;
    margin-left: 20px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 1px;
    box-shadow: 2px 3px lightgray;
}

.sixth-event h1 {
    text-align: center;
    font-size: 20px;
}

.sixth-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.seventh-event {
    position: relative;
    width: 300px;
    margin-left: 20px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 1px;
    box-shadow: 2px 3px lightgray;

}

.seventh-event h1 {
    text-align: center;
    font-size: 20px;
}

.seventh-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.eighth-event {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 1px;
    margin-left: 20px;
    box-shadow: 2px 3px lightgray;

}

.eighth-event h1 {
    text-align: center;
    font-size: 20px;
}

.eighth-event h5 {
    text-align: center;
    font-size: 15px;
    color: gray;
}

.btn-event{
    position: absolute;
    margin-top: 820px;
    margin-left: 600px;
    border-radius: 5px;
    width: 120px;
    border: 0;
}

.create-section {
    position: absolute;
    margin-top: 100px;

}

.create-section h1 {
    font-size: 55px;
}
.multicolor-word{
    font-size: 45px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif ;
    background: #61D5F2;
    background: linear-gradient(to right, #61D5F2 0%, #59FFCD 50%, #b9de8d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.create-txt {
    position: relative;
    display: flex;
    margin-top: 100px;
    font-size: 20px;
   
}


.btn-contact {
    margin-top: 50px;
    position: absolute;
    width: 30%;
    height: 40px;
    border: 0;
    border-radius: 5px;

}

.last-1-image{
    background-image: url('images/images/v106_730.png');
     width: 100%;
     height: 500px;
     background-size: cover;
     position:relative;
     margin-top: 100px;
     object-fit: cover;
     border-radius: 8px;
     background-position:center;
     /* transition: width 8s; */
     animation-duration: 3s;
}


.last-2-image {
    background-image: url('images/images/v106_733.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    position:relative;
    margin-top: 150px;
    object-fit: cover;
    padding: 50px;
    border-radius: 8px;
    background-position: center;
    animation-duration: 3s;
    
}
.last-3-image {
    
    background-image: url('images/images/v97_627.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    position:relative;
    margin-top: 100px;
    object-fit: cover;
    padding: 50px;
    border-radius: 8px;
    animation-duration: 3s;
}

.Create an event {
    position: relative;
    margin-top: 1000px;
}

/* footer section start */
.Footer-background {
    width: 100%;
    height: 350px;
    background-color: rgb(147, 199, 252);
    margin-top: 100px;
    float: left;
}

.logo-2 {
    position: relative;
    margin-top: 80px;
    filter: contrast(200%);
}

.footer-text-1 h1 {
    margin-top: 100px;
    font-size: 25px;
    color: azure;
}

.footer-text-1 ul {
    margin-top: 10px;
    margin-left: -30px;
}

.footer-text-1 ul li {
    display: flex;
    padding: 8px;
}

.footer-text-1 ul li a {
    font-size: 15px;
}


.Footer-text-2 h1 {
    position: absolute;
    margin-left: 233px;
    font-size: 25px;
    margin-top: -40px;
    display: inline;
    color: azure;
}

.Footer-text-2 ul {
    position: absolute;
    margin-top: 15px;
}

.Footer-text-2 ul li {
    display: flex;
    padding: 8px;

}

.Footer-text-2 ul li a {
    font-size: 15px;
}

.Footer-text-3 {
    margin-left: 500px;
    margin-top: -47px;
    color: aliceblue;
    padding: 8px;
}

.Footer-text-3 h1 {
    font-size: 30px;
    color: azure;
}

.icon-call {
    position: absolute;
    display: inline;
    margin-top: 20px;
}

.icon-mail {
    position: absolute;
    display: inline;
    margin-top: 50px;
}

.icon-location {
    position: absolute;
    display: inline;
    margin-top: 80px;
}
.fab-fb{
    font-size: 30px;
    margin-top: 40px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    text-align: center;
    padding-top: 20px;
    border-radius: 40px;
}
.fab-twitter{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 20px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    text-align: center;
    padding-top: 20px;
    border-radius: 40px;
}
.fab-instagram{
    position: absolute;
    font-size: 40px;
    margin-top: 62px;
    margin-left: 25px;
}
/* login page */
.user{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;
    /* margin-top: 10px; */
}
.inpuser{
    width: 93%;
    height: 40px;
    margin-left: 45px;
    border: 0;
    background-color: #d0d9dc;
}
.key{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;  
}
.inppass{
    width: 93%;
    height: 40px;
    margin-left: 45px;
    border: 0;
    background-color: #d0d9dc;
}
.login_body{
    width: 100%;
    height: 230px;
}
.login_header{
    width: 100%;
    height: 170px;
}
.icon_cross{
    position: absolute;
    margin-top: -100px;
    margin-left: 740px;
    float: right;
    border: 0;
    background-color: white;
    font-size: 20px;
}
.login_footer{
    width: 100%;
    height: 100px;
}
.login_footer a{
    margin-top: 50px;
}
.login_h4{
    text-align: center;
    margin-top: -25px;
    text-decoration: underline;
}
.btn-logpop{
    position: absolute;
    width: 60%;
    height: 40px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px #3b5998;
    margin-top: -10px;
    margin-right: 140px;
}
.btn-google{
    width: 98%;
    height: 40px;
    font-size: 25px;
    padding: 2px;
    margin-top: 80px;
    margin-left: -10px;
}
.OR{
    position: absolute;
    margin-top: -28px;
    margin-left: 365px;
    background-color: white;
}
/* sinup */

.signup_body{
          width: 100%;
          height: 420px;
}
.signup_footer{
    width: 100%;
    height: 110px;
}
.signup_cross{
    border: 0;
    background-color: white;
    margin-left: 725px;
    font-size: 25px;
}
.signup_h4{
    position: absolute;
    text-align: center;
    margin-left: 350px;
    text-decoration: underline;
}
.envelope{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;  
}
.phone{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;  
}
.check{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #3b5998;
    font-size: 30px;
    padding: 5px;
    border-radius: 3px;  
}